{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
  <div class="primary-block">
    <div class="w-3/4 h-96 border-primary">
      <div class="px-5 pt-10 flex flex-col text-[#10B981]">
        <p>
        {{ self.quote }}
        </p>
      </div>
      <div class="p-5 flex flex-col"">
        <h1 class="title break-words">{{ self.title }}</h1>
      </div>
      <div class="p-5 w-full break-words h-auto">
        {{ self.body }}
      </div>
    </div>
    <div class="p-5 border-white border-2 border-opacity-15 rounded-md w-1/4 h-96 flex flex-col">
      <p class="text-lg pb-2 font-extrabold">
        {{ self.title }}
      </p>
      <p>
      {{ self.body }} 
      </p>
    </div>
  </div>
      {% for block in page.StreamField %}
        {% include_block block %}
      {% endfor %}
{% endblock content %}
